Source: krunner
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.14),
               kio-dev (>= 4:4.100.0),
               libkf5attica-dev (>= 4.100.0),
               libkf5auth-dev (>= 4.100.0),
               libkf5bookmarks-dev (>= 4.100.0),
               libkf5codecs-dev (>= 4.100.0),
               libkf5completion-dev (>= 4.100.0),
               libkf5config-dev (>= 4.100.0),
               libkf5configwidgets-dev (>= 4.100.0),
               libkf5coreaddons-dev (>= 4.100.0),
               libkf5dbusaddons-dev (>= 4.100.0),
               libkf5globalaccel-dev (>= 4.100.0),
               libkf5guiaddons-dev (>= 4.100.0),
               libkf5i18n-dev (>= 4.100.0),
               libkf5iconthemes-dev (>= 4.100.0),
               libkf5itemviews-dev (>= 4.100.0),
               libkf5jobwidgets-dev (>= 4.100.0),
               libkf5kjs-dev (>= 4.100.0),
               libkf5service-dev (>= 4.100.0),
               libkf5solid-dev (>= 4.100.0),
               libkf5sonnet-dev (>= 4.100.0),
               libkf5textwidgets-dev (>= 4.100.0),
               libkf5threadweaver-dev (>= 4.100.0),
               libkf5widgetsaddons-dev (>= 4.100.0),
               libkf5windowsystem-dev (>= 4.100.0),
               libkf5xmlgui-dev (>= 4.100.0),
               pkg-kde-tools,
               plasma-framework-dev (>= 4.100.0),
               qtbase5-dev,
               qtdeclarative5-dev,
               xauth,
               xvfb
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/krunner

Package: libkf5runner-dev
Section: libdevel
Architecture: any
Depends: libkf5runner5 (= ${binary:Version}), ${misc:Depends},
  qtbase5-dev
Description: development files for krunner
 An assortment of text-related widgets.
  .
 Contains development files for krunner.

Package: libkf5runner5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Used to write plugins loaded at runtime called "Runners".
 Launcher built into the Plasma desktop. While its
 basic function is to launch programs from a sort
 of mini-command-line, its functionality can be
 extended by "runners" to assist the user
 to accomplish a lot of tasks.
Multi-Arch: allowed

Package: libkf5runner-data
Architecture: any
Multi-Arch: allowed
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libkf5runner-data
Replaces: libkf5runner-data
Description: krunna data files
 Launcher built into the Plasma desktop. While its
 basic function is to launch programs from a sort
 of mini-command-line, its functionality can be
 extended by "runners" to assist the user
 to accomplish a lot of tasks.

Package: libkf5runner5-dbg
Architecture: any
Multi-Arch: allowed
Priority: extra
Section: debug
Depends: libkf5runner5 (= ${binary:Version}), ${misc:Depends}
Description: debug symbols for krunner
 An assortment of text-related widgets
 .
 Contains debug symbols for krunner.
